@charset 'UTF-8';




.lose{
  transform: scale(0.9);
}
h1{
  position: absolute;
  color: #fff;
}




body{
  display: flex;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  background:linear-gradient(#fce4ec,#e91e631f);
  justify-content: space-between;
}
img{
  width: 100%;
  padding-bottom: 30px;
  border-radius: 40% 30% 5%/40% 22% 30% 20%;
}
.box{
  width: 130px;
  height: 130px;
  background-color: skyblue;
  cursor: pointer;
  transition: 0.8s;
  margin: 10px;
  text-align: center;
  line-height: 120px;
  color: white;
  font-size: .9rem;
  padding: 10px;
}

@media screen and (min-width:900px){
  .box{
    width: 100px;
    height: 100px;
  }
}
.win{
  background: pink;
  border-radius: 50%;
  transform: rotate(360deg);
}
@media (min-width:1000px){
  body{
    justify-content: center;
  }
}


.